.ProductWrapper{
    display: grid;
    width: 80vw;
    padding: 5vh 10vw;
    grid-template-columns: repeat(4,1fr);
    gap : 42px

}

.BannerContainer{
  margin-top: 100px;
  padding-top: 5vh;
  margin-left : 10vw
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (min-width : 1286px) and (max-width : 1720px) {
  .ProductWrapper{
    grid-template-columns: repeat(3, 1fr);
    padding: auto;

  }
}
@media (min-width : 850px) and (max-width : 1285px) {
  .ProductWrapper{
    grid-template-columns: repeat(2, 1fr);
    padding: auto;
  }
}
@media (min-width : 0px) and (max-width : 849px) {
  .ProductWrapper{
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}