.checkoutWrapperReal{
    min-height: 80vh;
    margin: 20vh 10vw;
    display : flex;
}
.formWrapper{
    width: 50vw;
    height: 41vh;
}
.checkoutItemWrapper{
    width: 30vw;
    height: 41vh;

}
.nameWrapper{
    display: flex;
    gap: 5vh;
    margin-top: 30px;

}
.formsnametext{
    width: 28vw;
    height: 35px;
}
.checkout{
    padding-left: 10px;
    height: 35px;
}
.fwForms{
    width: 49.1vw;
    margin-top: 30px;
}
.formsCardNumber{
    width : 40vw;
}
.formsCVV{
    width : 9vw
}
.ChekoutNowButton{
    height: 40px;
    background-color: white;
    border: 1px solid black;
    width: 50vw;
}
.ChekoutNowButton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.pd{
    padding: 0 2.5vw;
    margin: 10px 0;
}
.itemsListText{
    padding : 0 2.5vw;
    margin-bottom: 10px;
}
.totPurchase{
    text-align: end;
}
.totalCheckout{
    text-align: end;
    font-size: large;
    font-weight: bold;
}
.itemsList{
    min-height: 31vh ;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 31vh;
}
.CObody{
    min-height: 80vh;
}
.succesWrapper{
    padding-top: 50vh;
    padding-bottom: 50vh;
    text-align: center;
}
@media (min-width : 0px) and (max-width : 1090px){
    .checkoutWrapperReal{
        display: block;
    }
    .formWrapper{
        width: 80vw;
    }
    .checkoutItemWrapper{
        width: 80vw;
        padding-top: 40px;
    }
    .itemsList{
        width : 80vw
    }
    .fwForms{
        width: 80vw;
    }
    .formsnametext{
        width: 40vw;
    }
    .formsAddress{
        width: calc(80vw - 15px);
    }
    .formsCardNumber{
        width: 66vw;
    }
    .ChekoutNowButton{
      float: right;
      width: 140px;
      margin-right: 20px;
      
    }
}