.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.navbarWrapper {
    display: flex;
    background-color: black;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    z-index: 101; /* Increased z-index value */
    opacity: 1;
}

.first {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    padding: 0;
    height: 100px;
}

nav {
    top: 0;
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
}