.cartItemWrapper{
    border : 1px solid black;
    width : 80vw;
    height: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 684px;
}
.cartImg{
    height: 15vh;
}
.productPrice{
    text-align: left;
}
.controlsWrapper{
    display: flex;
    margin-right: 5vw;
    gap : 5px;
}
.firstBox{
    display: flex;
    align-items: center;
    gap : 1s0px;
}
.del{
    padding-left: 13px;
    padding-right: 13px;
}
@media (min-width : 0px) and (max-width : 985px){
    .control{
        font-size: 9pt;
        padding: 5px 15px;
        display: flex;
        align-items: center;

    }
    .cartImg{
        height: 13vh;
    }
    .productPrice{
        font-size: small;
    }
    .productNameCart{
        font-size: large;
    }

}